@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Mulish:wght@400;600;700&family=Open+Sans:wght@400;500&display=swap');
/*font-family: 'Bricolage Grotesque', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Mulish:wght@400;600;700&family=Open+Sans:wght@400;500&family=Playfair+Display:ital,wght@1,600&display=swap');
/*font-family: 'Playfair Display', serif;*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');
/*font-family: 'IBM Plex Sans', sans-serif;*/

* { 
	box-sizing : border-box; 
	margin : 0px;
	padding : 0px;
}
.menu {
    list-style: none; /* Quita los marcadores de lista */
    display: flex; /* Cambia el diseño a flexbox */
    justify-content: space-around;
    padding: 0; /* Quita el relleno predeterminado de la lista */
    background-color: black;
}
.menu a  {
    text-decoration: none;
    color: 282c37; 
    font-weight: bold;

}


/* Selector del elemento al que le asignarás la imagen de fondo */
.body {
  
    /* Puedes ajustar el tamaño de la imagen */
    background-size: cover;

    /* Otras propiedades opcionales */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-position: center; /* Centra la imagen de fondo */
    /* Puedes agregar más propiedades según tus necesidades */
}

.header {
    text-align: center;
    font-family: 'Bricolage Grotesque', sans-serif;
    background-color: rgba(0, 128, 0, 0.6);
    padding: 10px;
    height: 400px;
    
}
.header .audio{
   float: right;
   position: relative;
   top: -50px;
}
img {
    border-radius: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: auto;
}
.lista {
    border: 1px solid ;
    margin: 10px;
    list-style-type: disc; /* Crea puntos para la lista desordenada */
}
.aside {
    display: block;
    width: 50%;
    height: 50%;    
    border: solid 1px;
    margin: 5px;
}
.h2{
    color: 282c37;
    font-family: 'Playfair Display', serif;
}
.main .p{
    color: 282c37;
    font-family: 'Open Sans', sans-serif;
    width: 600px;
    font-weight: 200;
}
.section {
    color: 282c37;
}
.sectionImg .img1 {
    width: 50px;
    height: 30%;
    float: right;
}